<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.weboard.mapper.UserMapper">
    <select id="getUserByIdOrUserId" parameterType="UserDTO" resultType="UserDTO">
        SELECT * FROM user
        <where>
            <choose>
                <when test="id != 0">
                    AND id = #{id}
                </when>
                <when test="userId != null and userId !=''">
                    AND user_id = #{userId}
                </when>
            </choose>
        </where>
    </select>

    <!-- 패키지 만들 때 com. 회사 이름 . 서비스 .
    패키지 경로 풀로 다 쓰지 말고

     -->
<!--    <select id="getIdByUserId" parameterType="String" resultType="Integer">-->
<!--        SELECT id FROM user WHERE user_id =#{userId}-->
<!--    </select>-->

    <select id="getPasswordById" parameterType="int" resultType="String">
        SELECT password FROM user WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="UserDTO">
        INSERT INTO user (user_id, nickname, password, updated_by, updated_at)
        VALUES (#{userId}, #{nickname}, #{password}, null, null)
    </insert>

    <update id="update" parameterType="UserDTO">
        UPDATE user
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        WHERE id=#{id}
    </update>


    <delete id="delete" parameterType="int">
        DELETE FROM user
            WHERE id = #{id}
    </delete>

    <update id="addLoginFailCount" parameterType="int">
        UPDATE user
        <set>
            login_fail = user.login_fail +1
        </set>
        WHERE id = #{id}
    </update>

    <update id="resetLoginFailCount" parameterType="int">
        UPDATE user
        <set>
            login_fail = 0
        </set>
        WHERE id = #{id}
    </update>

    <update id="lockUnlockUser" parameterType="int">
        UPDATE user
        <set>
            is_locked = #{isLocked}
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateLoginLocked" parameterType="UserDTO">
        UPDATE user
        <set>
            login_locked = #{loginLocked}
        </set>
        WHERE id = #{id}
    </update>

    <update id="resetLoginLocked" parameterType="int">
        UPDATE user
        <set>
            login_locked = null
        </set>
        WHERE id = #{id}
    </update>

</mapper>